<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Empresa</title>
</head>
<body>

    <h2>Cadastrar Empresa</h2>

    <!-- Formulário para cadastro -->
    <form th:action="@{/empresaCTR/salvarEmpresa}" th:object="${empresa}" method="post">

        <label for="nome">Nome da Empresa</label>
        <input type="text" th:field="*{nome}" id="nome" required>
        <br>
        <br>

        <label for="cnpj">CNPJ</label>
        <input type="text" th:field="*{cnpj}" id="cnpj" required>
        <br>
        <br>

        <label for="ramo">Ramo da Empresa</label>
        <input type="text" th:field="*{ramo}" id="ramo" required>
        <br>
        <br>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a th:href="@{/empresaCTR}">Cancelar</a>

    </form>

</body>
</html>